@model MusicLibPractice.Models.songs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>songs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.song_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.song_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.song_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.song_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authors.author_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authors.author_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.countries.country_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countries.country_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.formats.format_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formats.format_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genres.genre_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genres.genre_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paths.path_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paths.path_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.song_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
